.container {
	width: 210mm;
	height: 297mm;
	font-family: 'Times New Roman', Times, serif;
	padding: 50px;
	border: 1px solid #000;
}
.horizontal-rule {
	background-color: #000;
	height: 1.5px;
	width: 100%;
	margin-top: 2px;
}
.component-container {
	margin-bottom: 16px;
	position: relative;
}
button {
	background-color: #60a5fa;
	padding: 0;
	border-color: #1d4ed8;
	border-radius: 4px;
	position: absolute;
	top: -4px;
	right: 0;
	cursor: pointer;
}
img {
	width: 20px;
	height: 20px;
}
input {
	font-size: 18px;
	font-family: 'Times New Roman';
	width: 250px;
}
input:disabled {
	border: none;
	color: #000;
}
ul {
	padding: 0;
	margin: 0;
	list-style: square;
}
.double-aligned {
	margin-bottom: 8px;
	display: flex;
	justify-content: space-between;
}
.double-aligned>input:last-child {
	text-align: right;
}
.double-aligned:first-child>input {
	font-weight: 700;
}
